form{

 height: 85%;
  width: 80%;
  background-image: linear-gradient(to bottom right,#134E5E, #71B280);
  margin-left: 10%;
  border-radius: 12px;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
    border-radius: 12px;
    margin-left:2%;
  }
  input[type=password]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
    border-radius: 12px;
    margin-left:2%;
    
  }
  #loginbtn {
    background-color:#00006E; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-left:25%

  }
  #loginbtn:hover{
    background-color: black;
  }
  #registerbtn{
      
    background-color: #00006E; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;


  }
  #registerbtn:hover{
  background-color: black;
  }
  label{
      margin-left:5%;
  }
  input[type=tel]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
    border-radius: 12px;
    margin-left:2%;

  }
  input[type=submit]{

         background-color:#00006E; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-left:40%;
  }
  input[type=submit]:hover{
    background-color: black;
  }
  h1{
    text-align: center;
  }